<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ag">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Messola">
        <activity
            android:name="com.ag.Splash"
            android:theme="@style/AppThemeFull">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ag.BaseActivity">
        </activity>
        <activity
            android:name="com.ag.SetupPhoneNumber"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ag.MainActivity"
            android:label="@string/title_activity_main"
        android:theme="@style/AppTheme.Trans"></activity>
        <activity
            android:name="com.ag.ConversationActivity"
            android:parentActivityName="com.ag.MainActivity"
        android:theme="@style/AppTheme.Trans"></activity>
        <activity
            android:name="com.ag.ComposeMessageActivity"
            android:parentActivityName="com.ag.MainActivity"
        android:theme="@style/AppTheme.Trans"></activity>
    </application>

    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.EDIT_SMS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>
